<a href="https://colab.research.google.com/github/arun-badhai/MLIEURON/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 1:**

 *1.1 Write a Python Program to implement your own myreduce() function which works exactly like
Python's built-in function reduce()*

In [0]:
# ****************************************************1st way*******************************************
def myreduce(func, iterable, start=None):
    it = iter(iterable)
    if start is None:
        try:
            start = next(it)
        except StopIteration:
            raise TypeError('reduce() of empty sequence with no initial value')
    accum_value = start
    for x in iterable[1:]:
        accum_value = func(accum_value, x)
    return accum_value

In [17]:
lst = [4,1,4,5,6,8,9,8]
myreduce(lambda a,b:a+b,lst)

45

In [13]:
# To test our result match with the inbuild function result
from functools import reduce
lst1 = [4,1,4,5,6,8,9,8]
reduce(lambda a,b:a+b,lst1)

45

In [0]:
#********************************************************2nd way ******************************

def myreduce2(fun,sec):
  first =sec[0]
  for i in sec[1:]:
    first=fun(first,i)
  return first

In [21]:
sec=[1,2,3,4,5,6,7]
myreduce2(lambda a,b:a+b,sec)

28

In [22]:
sec=[1,2,3,4,5,6,7]
myreduce(lambda a,b:a+b,sec)

28

*1.2
Write a Python program to implement your own myfilter() function which works exactly like
Python's built-in function filter()*

In [0]:
def myFilter(anyfun,sec):
   result=[]
   for item in sec:
     if anyfun(item):
        result.append(item)
   return result

In [32]:
myFilter(lambda a:a%2==0,[1,2,3,4,5,6,7,8])

[2, 4, 6, 8]

In [34]:
list(filter(lambda a:a%2==0,[1,2,3,4,5,6,7,8]))

[2, 4, 6, 8]

**2.
Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists*


*['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xx', 'yy', 'zz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)] **

In [35]:
word ='ACADGILD'

alphabet_list=[alphabet for alphabet in word ]
alphabet_list

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [41]:
imput = ['x','y','z']
result = [ item * num for item in imput for num in range(1,5)]
result

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [42]:
input_val = ['x','y','z']

result = [ item * num   for num in range(1,5) for item in input_val]
result

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [45]:
input_list = [2,3,4]
[[item+num] for item in input_list for num in range(0,3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [61]:
input_list = [2,3,4,5]
[[item+num for item in input_list] for num in range(0,4) ]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [65]:
input_list = [1,2,3]
[(num,item) for item in input_list for num in input_list ]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]